Repository bsommerfeld/pathetic, pull requests merged in 2024-10, with the labels that each got.

#101 [pathetic 3.1.1] improved heuristic, fixed abort state, removed counterCheck
  README.md
  pathetic-api/pom.xml
  pathetic-api/src/main/java/org/patheloper/api/event/EventPublisher.java
  pathetic-api/src/main/java/org/patheloper/api/pathing/configuration/PathfinderConfiguration.java
  pathetic-api/src/main/java/org/patheloper/api/util/NumberUtils.java
  pathetic-api/src/main/java/org/patheloper/api/wrapper/PathPosition.java
  pathetic-example/pom.xml
  pathetic-mapping/pom.xml
  pathetic-model/pom.xml
  pathetic-model/src/main/java/org/patheloper/model/pathing/Node.java
  pathetic-model/src/main/java/org/patheloper/model/pathing/pathfinder/AbstractPathfinder.java
  pathetic-model/src/main/java/org/patheloper/model/secret/Herobrine.java
  pathetic-nms/paper/pom.xml
  pathetic-nms/pom.xml
  pathetic-nms/v1_12/pom.xml
  pathetic-nms/v1_15/pom.xml
  pathetic-nms/v1_16/pom.xml
  pathetic-nms/v1_17/pom.xml
  pathetic-nms/v1_18Up/pom.xml
  pathetic-nms/v1_8/pom.xml
  pom.xml
Labels: bug, api, internal

#103 [3.2] SnapshotManager#getHighestBlockAt, PathValidationContext now holds the absolute start and target and bStats can now be deactivated
  pathetic-api/pom.xml
  pathetic-api/src/main/java/org/patheloper/api/event/package-info.java
  pathetic-api/src/main/java/org/patheloper/api/pathing/configuration/PathfinderConfiguration.java
  pathetic-api/src/main/java/org/patheloper/api/pathing/filter/PathValidationContext.java
  pathetic-api/src/main/java/org/patheloper/api/snapshot/SnapshotManager.java
  pathetic-example/pom.xml
  pathetic-mapping/pom.xml
  pathetic-model/pom.xml
  pathetic-model/src/main/java/org/patheloper/BStatsHandler.java
  pathetic-model/src/main/java/org/patheloper/Pathetic.java
  pathetic-model/src/main/java/org/patheloper/model/pathing/pathfinder/AStarPathfinder.java
  pathetic-model/src/main/java/org/patheloper/model/pathing/pathfinder/AbstractPathfinder.java
  pathetic-model/src/main/java/org/patheloper/model/snapshot/FailingSnapshotManager.java
  pathetic-nms/paper/pom.xml
  pathetic-nms/pom.xml
  pathetic-nms/v1_12/pom.xml
  pathetic-nms/v1_15/pom.xml
  pathetic-nms/v1_16/pom.xml
  pathetic-nms/v1_17/pom.xml
  pathetic-nms/v1_18Up/pom.xml
  pathetic-nms/v1_8/pom.xml
  pom.xml
Labels: build-pr-jar, api, internal

#105 [3.2.1] Supporting Spigot 1.21.2 and fix backwards compatibility for 1.18-1.20.6
  README.md
  pathetic-api/pom.xml
  pathetic-example/pom.xml
  pathetic-mapping/pom.xml
  pathetic-model/pom.xml
  pathetic-nms/paper/pom.xml
  pathetic-nms/pom.xml
  pathetic-nms/src/main/java/org/patheloper/provider/ChunkDataProviderResolver.java
  pathetic-nms/v1_12/pom.xml
  pathetic-nms/v1_15/pom.xml
  pathetic-nms/v1_16/pom.xml
  pathetic-nms/v1_17/pom.xml
  pathetic-nms/v1_18/pom.xml
  pathetic-nms/v1_18/src/main/java/org/patheloper/provider/v1_18/v1_18ChunkDataProviderImpl.java
  pathetic-nms/v1_18_R2/pom.xml
  pathetic-nms/v1_18_R2/src/main/java/org/patheloper/provider/v1_18_R2/v1_18_R2ChunkDataProviderImpl.java
  pathetic-nms/v1_19_R2/pom.xml
  pathetic-nms/v1_19_R2/src/main/java/org/patheloper/provider/v1_19_R2/v1_19_R2ChunkDataProviderImpl.java
  pathetic-nms/v1_19_R3/pom.xml
  pathetic-nms/v1_19_R3/src/main/java/org/patheloper/provider/v1_19_R3/v1_19_R3ChunkDataProviderImpl.java
  pathetic-nms/v1_20_R1/pom.xml
  pathetic-nms/v1_20_R1/src/main/java/org/patheloper/provider/v1_20_R1/v1_20_R1ChunkDataProviderImpl.java
  pathetic-nms/v1_20_R2/pom.xml
  pathetic-nms/v1_20_R2/src/main/java/org/patheloper/provider/v1_20_R2/v1_20_R2ChunkDataProviderImpl.java
  pathetic-nms/v1_20_R3/pom.xml
  pathetic-nms/v1_20_R3/src/main/java/org/patheloper/provider/v1_20_R3/v1_20_R3ChunkDataProviderImpl.java
  pathetic-nms/v1_20_R4/pom.xml
  pathetic-nms/v1_20_R4/src/main/java/org/patheloper/provider/v1_20_R4/v1_20_R4ChunkDataProviderImpl.java
  pathetic-nms/v1_21_R1/pom.xml
  pathetic-nms/v1_21_R1/src/main/java/org/patheloper/provider/v1_21_R1/v1_21_R1ChunkDataProviderImpl.java
  pathetic-nms/v1_21_R2/pom.xml
  pathetic-nms/v1_21_R2/src/main/java/org/patheloper/provider/v1_21_R2/v1_21_R2ChunkDataProviderImpl.java
  pathetic-nms/v1_8/pom.xml
  pom.xml
Labels: bug, build-pr-jar, internal
